[Desktop Entry]
Version=1.0
Type=Application

Name=Anzan
Comment=Practice anzan or mental calculation
Categories=Game;

Icon=org.sorobanexam.anzan
Exec=anzan
Terminal=false
